dialog {
  position: absolute;
  right: 0;
  left: 0;
  display: block;
  width: fit-content;
  height: fit-content;
  padding: 1em;
  margin: auto;
  color: black;
  background: white;
  border: solid;
}

dialog:not([open]) {
  display: none;
}

dialog + .backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 10%);
}

._dialog_overlay {
  position: fixed;
  inset: 0;
}

dialog.fixed {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  max-width: unset;
  height: 100vh;
  height: 100dvh;
  max-height: unset;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 80%);
  border: none;

  &:not([open]) {
    display: none;
  }

  &::backdrop,
  & + .backdrop {
    pointer-events: none;
    background: none;
  }

  &__wrapper {
    display: grid;
    width: 100%;
    height: 100%;
    padding: 15px;
    overflow: auto;
    pointer-events: none;
  }

  &__content {
    position: relative;
    align-self: center;
    width: 100%;
    max-width: 600px;
    padding: 50px;
    margin-right: auto;
    margin-left: auto;
    pointer-events: all;
    background-color: #fff;
  }

  &__close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    pointer-events: all;
  }
}
