dialog {
  position: fixed;
  inset: 0;
  box-sizing: border-box;
  margin: 0;

  &:not([open]) {
    display: none;
  }

  &::backdrop,
  & + .backdrop {
    position: fixed;
    inset: 0;
    background: rgb(0 0 0 / 0.5);
  }
}

._dialog_overlay {
  position: fixed;
  inset: 0;
}
